@import "tailwindcss";

@font-face {
  font-family: 'Birdie';
  src: url('/fonts/Birdie.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Google Fonts - Karla */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-birdie: 'Birdie', cursive;
  --font-karla: 'Karla', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}
  
.bg-mobile-note {
  background-image: url('/images/note-background.png');
  background-size: cover;
  background-position: center -16px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'Crustacean';
  src: url('/fonts/Crustaceans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 768px) {
  .bg-mobile-note {
    background-image: none !important;
  }
}
